html, body {
    background-color: #fff;
    color: #636b6f;
    font-family: 'Montserrat', sans-serif !important;
    font-weight: 100;
}

.content {
    margin-top: 5%;
    white-space: nowrap;
}

.movie {
	margin: 0 0 100px 0;
}

.movie_image {
    margin-bottom: 50px;
}

.movie a {
    margin-top: 10px;
}

.welcome {
    padding-left: 15px;
    padding-right: 15px;
}

.movie h4 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: auto;
}

.search {
	margin-bottom:50px;
	padding-right: 15px;
	padding-left: 15px;
}

img.rounded.mx-auto.d-block {
    max-width: 100%;
    min-height: 310px;
    width: 100%;
}

.description_text h1 {
    margin: 0;
}

.description_info {
    margin-top: 20px;
}

.description_text p {
    white-space: pre-line;
    margin-top: 20px;
}

.reviews {
    margin-top: 40px;
    border-top: 2px solid #eee;
    padding-top: 40px;
}

.wrapper {
    margin: 0 -50px;
}

.review_block {
    margin: 30px 50px !important;
    padding: 30px !important;
    background-color: #eee;
}

.review_block p {
    white-space: pre-line;
    font-style: italic;
}

.review_block span::before {
    content: "\f006";
    font-family: 'FontAwesome';
}

.form_block {
    margin: 0 -15px 80px -15px;
    padding: 0 !important;
}

.form_block h4 {
    padding: 0 15px;
}

.form-group h4 {
    padding: 0;
}

.username_review {
    margin-left:10px;
}

.rating h4::before {
    content: "\f006";
    font-family: 'FontAwesome';
}

.alert.alert-danger {
    margin-left: 15px;
}

.login .alert.alert-danger {
    margin-left: 0;
}

.review_block p.pull-right {
    font-style: normal;
    font-weight: 900;
    overflow: auto;
    width: 72px;
    text-align: right;
    margin-top: -10px;
    font-size: 10px;
}

.add_movie input,
.add_movie textarea {
    margin: 15px 0;
}

td img {
    height: 80px;
}

.table {
    margin-bottom: 100px !important;
}

.table_movies,
.table_users {
    margin: 100px 0;
}

.hidden_users {
    margin-top: 40px;
}
